.oculto{
    position: absolute;
    left: -100%;
    transition: 1s;
}

.mostrarNav{
    position: fixed;
    justify-content: space-between;
    z-index: 400;
    background-color: #fff;
    height: 92vh;
    width: 400px !important;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    cursor: auto;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.cruz{
    padding: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.title{
    padding: 0px 10px;
    text-align: center;
}

.container{
    z-index: 1000;
}

.cardDatos{
    margin: 10px 0px;
    background-color: #ddd;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    backdrop-filter: blur(3px);
}