.estacion{
    /* width: 400px; */
    height: 400px;
    background-color: rgba(0, 0, 0, 0.042);
    border-radius: 10%;
    margin: 10px;
    padding: 40px 20px;
    display: flex;
    align-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    backdrop-filter: blur(3px);
    color: black;
}

.estacion:hover{
    color: black;
}

.imagen{
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: start;
}

.imageContainer{
    display: flex;
    justify-content: start;
}

.title{
    margin-top: 10px;
    font-size: 28px;
    text-align: start;
}

.subtitle{
    font-size: 19px;
}