.estacion{
    /* width: 400px; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.042);
    border-radius: 10%;
    margin: 10px;
    padding: 40px 20px;
    display: flex;
    align-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    color: black;
    transition: all .2s ease-in-out;

    align-content: space-between;
}

.estacion:hover{
    color: black;
    /* transform: scale(1.019); */
}

.title{
    font-size: 28px;
    text-align: start;
    padding: 0;
}

.subtitle{
    font-size: 19px;
    margin-bottom: 40px;
}

.btnCorazon{
    width: 18px;
    height: 18px;
    padding: 0;
    color: #cccccc;
    transition: all .1s ease-in-out;
}

.btnCorazon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.corazon{
    background-color: "red" !important;
    color: red;
}

.btnVerDetalles{
    background-color: rgba(0, 36, 195, 0.625);
    /* background-color: #00af66; */
    color: white;
    border-radius: 10px;
    transition: all .1s ease-in-out;
    padding: 6px;
    margin-top: 40px;
}

.btnVerDetalles:hover{
    color: white;
    transform: scale(1.019);
}

.tituloFavContainer{
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
}

.tituloDato{
    font-size: 16px;
    margin-top: 12px;
}

.estacionImagen{
    width: 25px;
    height: 25px;
    padding: 0;
}