.detailContainer{
    width: 100%;
    margin: 0px;
    margin-top: 100px;
    padding: 0%;
}

.datosEstacionContainer{
    margin-top: 15px;
    margin-bottom: 15px;
}

.titleEstacion{
    padding: 0;
    font-size: 34px;
    text-align: center; 
}

.cardDetail{
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.1);    
}

@media (min-width: 768px) {
    .detailContainer{
        padding: 0% 10%;
    }
    .datosEstacionContainer{
        justify-content: space-between;
    }
    .titleEstacion{
        text-align: start;
        margin-bottom: 20px;
    }
    .spaceBeetween{
        justify-content: space-between;
    }
}