.detailContainer{
    width: 100%;
    margin: 0px;
    margin-top: 100px;
    padding: 0%;
}

.datosEstacionContainer{
    margin-top: 15px;
    margin-bottom: 15px;
}

.titleEstacion{
    margin: 0px !important;
    padding: 0;
    font-size: 29px;
    text-align: center; 
}

.titleContainer{
    margin-top: 30px;
}

.cardDetail{
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.1);    
    min-height: 140px;
}

.flecha{
    width: 24px;
    height: 24px;
    padding: 0 10px;
}

.btnExportarDatos{
    background-color: rgba(0, 36, 195, 0.625);
    /* background-color: #00af66; */
    color: white;
    border-radius: 10px;
    transition: all .1s ease-in-out;
    padding: 6px;
    margin-top: 5px;
}

.btnExportarDatos:hover{
    background-color: rgba(0, 36, 195, 0.625);
    color: white;
    transform: scale(1.019);
}

.iconosEstacion{
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .detailContainer{
        padding: 0% 10%;
    }
    .datosEstacionContainer{
        justify-content: space-between;
    }
    .titleEstacion{
        text-align: start;
        margin-bottom: 20px;
    }
    .spaceBeetween{
        justify-content: space-between;
    }
}