.aboutUsContainer{
    margin: 0% 10%;
    margin-top: 100px;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-bottom: 50px;
}

.titleAboutUs{
    padding: 0;
    font-size: 34px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
  .titleAboutUs {
    color: #009659;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .aboutUsContainer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .aboutUsContainer a {
    color: #009659;
    text-decoration: none;
  }
  
  .aboutUsContainer a:hover {
    text-decoration: underline;
  }
  
  