.searchInput{
    border-radius: 10px;
    padding: 10px 15px;
    position: fixed;
    width: 30vw;
    top: 10vh;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    backdrop-filter: blur(3px);
    outline: none;
}

.resultados{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    width: 30vw;
    top: 11vh;
    margin-top: 34px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px;
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    backdrop-filter: blur(3px);
    overflow-y: scroll;
    max-height: 130px;
    align-content: start;
}

.btnEstacion{
    background: none;
    border: none;
    text-align: start;
    padding: 2px 15px;
    border-radius: 10px;
    height: 35px;
}
.btnEstacion:hover{
    box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09), 0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
    
    background: rgba(255, 255, 255, 0.5);
    color: #009659;
    color: black;
}

@media (max-width: 768px) {
    .searchInput{
        width: 65vw;
    }
    .resultados{
        width: 65vw;
    }
}